/* Pseudo-class Selectors :focus */
/* input{
    height: 35px;
    width: 200px;
    border-radius: 10px;
    border: 3px dotted rgb(21, 199, 30);
}
input:focus{
    border: none;
    color: green;
} */
/* Pseudo-class Selectors :first-child */
/* div p:first-child{
    color: red;
    font-size: 30px;
} */
/* div p:last-child{
    color: red;
    font-size: 30px;
} */

/* div p:nth-child(3){
    color: red;
    font-size: 30px;
} */

/* Pseudo-Element Selectors */

/* div p::first-letter{
    color: red;
    font-size: 30px;
} */

/* div p::first-line{
    color: red;
    font-size: 30px;
} */

/* div p::first-line{
    color: red;
    font-size: 30px;
}

p::before{
    content: "👉 ✫";
}
p::after{
    content: "✅";
} */
/* 
* {
    background-image: url(https://thumbs.dreamstime.com/b/environment-earth-day-hands-trees-growing-seedlings-bokeh-green-background-female-hand-holding-tree-nature-field-gra-130247647.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: scroll;
    background-color: green;
    
} */


.para {
    height: 400px;
    width: 900px;
    border: 2px solid green;
    text-align: justify;
    margin: 100px 200px 300px 400px;
    padding: 50px;
}