/* .container {
    border: 2px solid green;
    height: auto;
    width: auto;
}

.box1 {
    border: 1px solid yellow;
    background-color: orange;
}

.box2 {
    border: 1px solid yellow;
    background-color: red;
}

.box3 {
    border: 1px solid yellow;
    background-color: blue;
}

.box4 {
    border: 1px solid yellow;
    background-color: chartreuse;
}

.box5 {
    border: 1px solid yellow;
    background-color: gray;
}

.box6 {
    border: 1px solid yellow;
    background-color: pink;
}

.box7 {
    border: 1px solid yellow;
    background-color: gold;
}

.box8 {
    border: 1px solid yellow;
    background-color: brown;
}

.box9 {
    border: 1px solid yellow;
    background-color: aqua;
}

.container{
    display: grid;
    height: 600px;
    grid-template :repeat(3,1fr) / repeat(3,1fr)
} */
/* .box1{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 4;
} */
/* .box1{
    grid-column: 1 / span 2;
    grid-row: 1 / span 2;
} */

/* .box1{
    justify-self: start;
} */
/* 
.box1{
    align-self: end;
} */
 /* .box1{
    place-self: center;
} */

/* body {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-areas: 
    'header header header'
    'nav main aside'
    'footer footer footer'
    ;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: 100px 1fr 100px;
}



header,
nav,
main,
aside,
footer{
    background-color: red;
    border: 2px solid white;
}
header{
    grid-area: header;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}
aside{
    grid-area: aside;
}
footer{
    grid-area: footer;
}

.container{
    display: flex;
    justify-content: space-between;
}

input[type="search"]{
    height: 30px;
    width: 400px;
    border-radius: 40px;
} */

.box{
    border: 2px solid green;
    height: 200px;
    width: 200px;
    background-color:rgba(200, 0, 100, 20);
    margin-top: 300px;
    margin-left: 500px;
    box-shadow: 10px 10px 10px 10px black;
    box-shadow: -5px -5px -11px 20px black;
}
